/* цвет основного текста #757575 */
/* вторичный цвет текста  #212121;
     /* акцент #2196F3 */
/* цвет фона ##FFFFFF */
/* вторичный цвет фона #F5F4FA */

:root {
  --primary-text-color: #757575;
  --secondary-text-color: ;
  --title-text-color: #212121;
  --secondary-title-color: #ffffff;
  --accent-color: #2196f3;
  --primary-bg-color: #ffffff;
  --secondary-bg-color: #f5f4fa;
  --card-gap: 30px;
  --card-item: 3;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  color: currentColor;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.btn {
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.accent {
  color: var(--accent-color);
}

.section-title {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--title-text-color);
}

.card-set {
  display: flex;
  flex-wrap: wrap;
  gap: var(--card-gap);
}

.card-set-item {
  flex-basis: calc(
    ((100% - (var(--card-item) - 1) * var(--card-gap))) / var(--card-item)
  );
}

.text-white {
  color: var(--secondary-title-color);
}
.text-black {
  color: var(--title-text-color);
}

/* ------------------------Хедер---------------------------- */
.header {
  border-bottom: 1px solid #ececec;
}
.header .container {
  display: flex;
  align-items: center;
}

.header .logo {
  margin-right: 93px;
}

.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.nav-list,
.contacts-list {
  display: flex;
  gap: 50px;
}

.contacts-list {
  margin-left: auto;
}

.nav-link,
.contacts-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.nav-link {
  color: var(--title-text-color);
}

.nav-link.current {
  color: var(--accent-color);
}

.contacts-link {
  color: var(--primary-text-color);
}

.nav-link:hover,
.nav-link:focus,
.contacts-link:hover,
.contacts-link:focus {
  color: var(--accent-color);
}

/* --------------------Герой--------------------------- */
.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  background-color: #2f303a;
}

.hero-title {
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  max-width: 696px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--secondary-title-color);
}

.hero-btn {
  padding: 10px 32px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--secondary-title-color);
  background-color: var(--accent-color);
}
.hero-btn:hover,
.hero-btn:focus {
  background-color: #188ce8;
}

/* ---------------------- Преимущества ----------------- */
.features-item {
  --card-gap: 30px;
  --card-item: 4;
}

.features-title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
}

.features-text {
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* ---------------------Чем мы занимаемся------------------ */
.doing {
  padding-top: 0;
}

/* ------------------ Наша команда------------------------ */
.team {
  background-color: var(--secondary-bg-color);
}

.team-item {
  border-radius: 0px 0px 4px 4px;

  --card-item: 4;
  text-align: center;
  background-color: var(--primary-bg-color);
}

.team-info {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 10px;
  padding-left: 10px;
}

.team-item-title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.team-item-text {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

/* ----------------------Футер ----------------------- */

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}

.footer .logo {
  display: block;
  margin-bottom: 20px;
}

.footer-address {
  color: var(--secondary-title-color);
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.footer-address-list,
.footer-address-item + .footer-address-item {
  margin-top: 9px;
}

.footer-address-link {
  color: rgba(255, 255, 255, 0.6);
}

.footer-address-link:hover,
.footer-address-link:focus {
  color: var(--accent-color);
}

/* -----------------Страница Портфолио------------------- */
.filters-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filters-item:not(:last-child) {
  margin-right: 8px;
}

.filters-btn {
  padding-top: 6px;
  padding-right: 22px;
  padding-bottom: 6px;
  padding-left: 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  background-color: var(--secondary-bg-color);
  color: var(--title-text-color);
}

.filters-btn:focus,
.filters-btn:hover {
  color: var(--secondary-title-color);
  background-color: var(--accent-color);
}

.projects-wrap {
  padding: 20px 24px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.projects-title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}

.projects-group {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
